/******* About Voltage CSS **********/

#aboutvolt{
	/**background-color: #C7D0D5;**/
	color: #ffffff;
	/*background-color: #0fcfc4;*/
	padding-top: 20px;
	padding-bottom: 20px;
}

/**********************************/

/******* Meet the Team CSS ********/

#team {
	/**background-color: #EC583A;**/
	color: #ffffff;
	/*background-color: #086963;*/
	padding-top: 20px;
	padding-bottom: 20px;
}

#teampic {
	height:300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.team {
	display: inline-block;
	padding: 10px;
	position: relative;
	color: #fff;
	text-align: left;
}

#teampics {
	height: 200px;
	display: block;
}
/**************************/